<ng-container [formGroup]="parteFormGroup">
  <div class="flex flex-column gap-4 p-fluid">
    <div class="field mb-0">
      <label class="font-medium text-900 block mb-2">Polo <span class="text-red-500">*</span></label>
      <p-select formControlName="tipoPolo" [options]="tipoPoloOptions" placeholder="Selecione o Polo"
        appendTo="body"></p-select>
    </div>

    <ng-container formGroupName="novaEntidadeLegal">
      <div class="field mb-0">
        <label class="font-medium text-900 block mb-2">Tipo de Entidade <span class="text-red-500">*</span></label>
        <p-select formControlName="tipoEntidade" [options]="tipoEntidadeOptions" appendTo="body"></p-select>
      </div>

      <div class="field mb-0">
        <label class="font-medium text-900 block mb-2">CPF/CNPJ <span class="text-red-500">*</span></label>
        <div class="flex gap-2">
          <input class="flex-grow-1" pInputText formControlName="numeroDocumento"
            [placeholder]="parteFormGroup.get('novaEntidadeLegal.tipoEntidade')?.value === 'PessoaFisica' ? '000.000.000-00' : '00.000.000/0000-00'"
            (keydown.enter)="buscarEntidadeLegal()" />
          <p-button icon="pi pi-search" label="Buscar" (onClick)="buscarEntidadeLegal()" pTooltip="Buscar Entidade"
            styleClass="w-auto"></p-button>
        </div>
        <small class="text-color-secondary block mt-2">Você pode procurar uma Entidade existente pelo Documento.</small>
      </div>

      <div class="field mb-0">
        <label class="font-medium text-900 block mb-2">Nome <span class="text-red-500">*</span></label>
        <input pInputText formControlName="nome" [readonly]="parteFormGroup.get('isExisting')?.value" />
        <small class="text-color-secondary block mt-2" *ngIf="parteFormGroup.get('isExisting')?.value">
          <i class="pi pi-check-circle text-green-500 mr-1"></i> Entidade existente vinculada.
        </small>
      </div>
    </ng-container>
  </div>
</ng-container>