POSTGRES_USER=user-aqui
POSTGRES_PASSWORD=password-aqui
POSTGRES_DB=gerenciador_processos
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=gerenciador_processos;Username=user-aqui;Password=password-aqui
FRONTEND_DOMAIN=http://localhost:4200,http://localhost:8087
DEPLOY_EXTERNAL_DOMAIN=localhost